@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu:ital,wght@1,700&display=swap');


body {

    font-family: 'Comfortaa', sans-serif;
    font-family: 'Ubuntu', sans-serif;


}

@media (min-width: 98rem){
        .site-nav2{display: none;}
}

@media (max-width: 98rem){
       .site-nav{display: none;}


}

h1, h2, h3, h4, h5 , h6 , p , span {
      font-family: 'Comfortaa', sans-serif;
}



