{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
  <div class="mt-5 mx-5 rounded-lg bg-gradient-to-tr from-red-100 via-blue-200 to-yellow-200 p-1">
<div class="bg-white p-4 text-justify  tracking-tight ">
   <span class="font-bold text-2xl ">Comecializadora Guten Morgen C. A.</span>, <span class="text-gray-400 md:text-2x1 ">es una empresa venezolana unida estrat&eacute;gicamente con un conjunto de empresas alemanas dedicadas a la comercializaci&oacute;n de Materia Prima, Aditivos Qu&iacute;micos, Repuestos y suminitros para los distintos sectores industriales a nivel nacional e internacional.</span>

</div>
  </div>

{% endblock %}